[Unit]
Description=Automating socketchat server (%i)
After=network.target

[Service]
Type=simple
Environment=PYTHONUNBUFFERED=1
User=pi
StandardOutput=/var/log/socketchat/history.log
StandardError=/var/log/socketchat/error.log
ExecStart=/bin/bash /usr/local/bin/socketchatctl %i
TimeoutSec=30
RestartSec=3
Restart=always

[Install]
WantedBy=multi-user.target
